# --- Python / Backend ---
backend/.venv/
**/__pycache__/
backend/*.py[cod]
backend/build/
backend/dist/
backend/*.egg-info/

backend/app/lab/

# --- OS / IDE ---
.vscode/

# --- Virtual Environments (通用) ---
.venv/
venv/
ENV/
.env

logs/
